*{
    font-family:initial

}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

img{
    border-radius: 20px;
    width: 320px;
    border:solid 5px;
    border-color: rgb(0, 0, 0);
    margin-top: 10px;
    border: solid #000000 10px;
    padding: 10px;
   
}

button {
    border:solid 3px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(105, 204, 243);
}

form{
    border-color: rgb(0, 0, 0);
    font-size: larger;
    color: rgb(0, 0, 0);
}

h2{
    border: solid 5px;
    border-color: rgb(0, 0, 0);
    width: 310px;
    border-radius: 3px;
    background-color:  rgb(105, 204, 243);  
}

.codigo {
    background-color: rgb(105, 204, 243);
}

*{
    color: rgb(0, 0, 0)
}

.nome{
    border: solid 4px;
    border-color: black;
    width: 170px;
}

.borda{
    border: 10px solid #000;
    border-radius: 20px;
    width: 350px;
    padding: 50px;
}
