*{
    font-family:serif

}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
 


img{
    border-radius: 20px;
    width: 320px;
    border:solid 5px;
    border-color: rgb(255, 255, 255);
   
}

button {
    border: 10px;
    border-color: rgb(3, 114, 3);
}
form{
    border: solid 5px;
    border-color: rgb(0, 0, 0);
    font-size:medium;
    color: rgb(0, 0, 0);
}

h2{
    border: solid 5px;
    border-color: rgb(255, 255, 255);
    width: 320px;
    border-radius: 3px;
    background-color:  rgb(0, 204, 255);
    font-family:serif ;
    
}

.codigo {
 background-color: rgb(0, 204, 255);
}
*{
    color: rgb(0, 0, 0)
}
